@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

html {
  height: 100%;
}

body {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2;

  height: 100%;
  // background: linear-gradient(#82D6FF 0%, #5894FF 100%) no-repeat fixed;
  background: linear-gradient($bg-1 0%, $bg-2 100%) no-repeat fixed;

  color: $darktext;

  @media only screen and (max-width: $pc) {
    padding: 8px;
  }
}

::selection {
  background-color: #0B62E9;
  color: white;
}

code {
  font-family: Roboto Mono, monospace;
  font-size: 0.85em;
}

header {
  user-select: none;

  margin-top: 16px;

  a.name, a.name:visited {
    display: inline-block;
    color: $darktext;
    text-decoration: none;
    cursor: default;
  }

  h1.name {
    font-weight: 300;
    font-size: 87pt;
    margin: 0 0;
  }

  @media only screen and (max-width: $pc) {
    padding-left: 16px;

    h1.name {
      font-size: 64pt;
      margin: 30px 0 16px 0;
      display: inline-block;

      .ln {
        font-size: 32pt;
      }
    }
  }

}

a, a:visited {
  color: $link;
  text-decoration: none;
  font-weight: 500;

  transition: 0.25s all;
}

div.content {
  width: 900px;
  margin: 24px auto;
  padding: 24px 48px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 32px;

  @media only screen and (max-width: $pc) {
    width: auto;
    padding: 16px;
  }

  h2 {
    font-weight: 400;
    font-size: 24pt;
  }

  h4 {
    font-weight: 400;
    font-size: 1.25em;
    margin: 10px 0;
  }

  .portfolio {
    flex: 3 3;
    margin: 0 32px 16px 0;

    @media only screen and (max-width: 600px) {
      margin: 0 0 0 0;
    }

    .projects {
      .project {
        margin: 16px 0;
        font-weight: 400;
        font-size: 0.9em;

        h3 {
          margin: 24px 8px;

          a, a:visited {
            color: $darktext;
            text-decoration: none;
          }
        }

        .links {
          font-size: 0.85em;
          margin-top: 0;

          @media only screen and (max-width: $pc) {
            text-align: center;
            margin: 0;
          }

          a {
            display: inline-block;
            padding: 0;

            &:not(:first-child)::before {
              content: '|';
              margin-right: 6px;
            }
          }
        }

        div {
          margin: 8px 0;
        }

        .name {
          display: flex;
          align-items: center;
          margin-bottom: 0;

          h3 {
            font-weight: 400;
            font-size: 1.5em;

            margin: 16px 8px;
          }

          img {
            height: 48px;
          }

          @media only screen and (max-width: $pc) {
            justify-content: center;
          }
        }

        .desc {
          :first-child {
            margin-top: 10px;
          }

          img {
            border-radius: 8px;
          }
        }
      }
    }
  }

  flex: 2 2;

  div {
    margin-bottom: 48px;
  }

  @media only screen and (max-width: 600px) {
    margin: 0;
  }

  .socials {
    .list {
      a, a:visited {
        display: block;
        color: $darktext;

        text-decoration: none;
        font-weight: 500;

        margin: 5px 0;

        img {
          height: 40px;
          width: 40px;
          vertical-align: middle;
        }

        span {
          position: relative;

          margin-left: 5px;

          text-overflow: clip;
          white-space: nowrap;
          overflow: hidden;

          text-align: center;
          vertical-align: middle;
        }

        &:hover {
          img {
          }

          span {

          }
        }
      }

    }
  }
}