$width: 600px;

$pc-wide: 1600px;
$pc: 1000px;
$tablet: 800px;
$phone: 500px;

$primary: #ff2727;
$blurple: #7289DA;
$darkgray: #2c2f33;
$darktext: #0A3457;

//$link: #2873E7;
//$bg-1: #82D6FF;
//$bg-2: #5894FF;

$link: #8128e7;
$bg-1: #9b6ce7;
$bg-2: #bf4dd9;